@import "tailwindcss/base";

body {
  margin: 0;
  height: 85vh;
  height: calc(var(--vh, 1vh) * 100);
}

#app {
  height: 100%;
}

.slider::before {
  @apply absolute h-6 w-6 bg-white duration-300;
  content: "";
  left: 10px;
  bottom: 4px;
}

input:checked + .slider {
  @apply bg-blue-700;
}

input:checked + .slider::before {
  @apply transform translate-x-5;
}

.slider.round {
  @apply rounded-full;
}

.slider.round::before {
  @apply rounded-full;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
